body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #222;
    background-color: #fff;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Text */

h1, h2, h3, p {
    margin-top: 0;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

/* Header */

header {
    padding: 1.25rem 0;
    background-color: #fff;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 155px;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: #222;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
 
}

/* Product Gallery */

.product-gallery {
    padding-bottom: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery-grid img {
  border-radius: 0.5rem;
}

.main-image {
    grid-column: 1 / 4;
}

/* Product Info */

.product-info {
    padding: 2rem 0 3rem;
}

.product-info h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.product-info p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.product-info .label {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 700;
}

.flavours {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
}

.price {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.product-info button {
    padding: 0.5rem 1.25rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
}

/* Behind the Dough */

.behind {
    padding: 3rem 0;
    background-color: #f8fafc;
    font-size: 1.25rem;
}

.behind h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Reviews */

.reviews {
    padding: 3rem 0;
    background-color: #000;
    color: #fff;
    font-size: 1.25rem;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.reviews-layout {
    display: grid;
    gap: 2rem;
}

.author {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-style: italic;
}

/* Related Products */

.related-products {
    padding: 3rem 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.products-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.product-card {
    background-color: #f8fafc;
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-bottom: 1rem;
}

.product-card img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.product-card h3 {
    margin: 0.75rem 0 0.5rem;
}

.product-card p {
    margin-bottom: 0;
}

/* Footer */

footer {
    padding: 1.5rem 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/* 768px Layout */

@media screen and (min-width: 768px) {

/* Nav */

.nav-list a {
    font-size: 1rem;
}

/* 768 Gallery */

.gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.main-image {
    grid-column: auto;
}

/* 768 Product info */

.product-info .wrapper {
    max-width: 700px;
}

.product-info {
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-info .label {
    margin-bottom: 0;
    font-size: 1rem;
}

.flavours {
    margin-bottom: 0;
}

.price {
    margin-bottom: 0;
}

.product-info p {
    margin-top: 0;
    margin-bottom: 0.9rem;
    font-size: 1rem;
}

/* 768 Behind */

.behind-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.behind {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

/* 768 Reviews */

.reviews-layout {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;
}

.reviews {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.author {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* 768 Related products */

.products-layout {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* 768 Footer */

footer {
    font-size: 0.85rem;
}

}
/* 960px Layout */

@media screen and (min-width: 960px) {

.top-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    padding-bottom: 3rem;
}
/* 960 Gallery */

.product-gallery {
    padding-bottom: 0;
}

.gallery-grid {
    gap: 2rem 1rem;
}

/* 960 Product Info */

.product-info {
    padding: 0;
}

.product-info p {
    margin-top: 0;
    margin-bottom: 0.9rem;
    font-size: 1rem;
}

.product-info .label {
    margin-bottom: 0;
    font-size: 1rem;
}

.flavours {
    margin-bottom: 0;
}

.price {
    margin-bottom: 0;
}

/* 960 Behind */

.behind-layout {
    gap: 2rem;
}

.behind {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size:1rem;
}

/* 960 Reviews */

.reviews-layout {
    gap: 4rem;
}

.reviews {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size:1rem;
}

.author {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* 960 Related products */

.products-layout {
    gap: 1rem;
}

/* 960 Footer */

footer {
    font-size: 0.85rem;
}

}

/* Widescreen Layout */

@media screen and (min-width: 1200px) {

  .gallery-grid {
    gap: 1rem;
  }

  .product-info {
    max-width: 560px;
  }

  .behind {
    padding: 2.5rem 0;
  }

  .behind-layout {
    gap: 3rem;
  }

  .reviews {
    padding: 2.5rem 0;
  }

  .reviews-layout {
    gap: 3rem;
  }

  .related-products {
    padding: 2.5rem 0;
  }

  .products-layout {
    gap: 1rem;
  }
}